<nav class="navbar navbar-expand-sm navbar-dark bg-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BiblioPink</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Inicio de Sesion</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="gestionL">   Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="prestamos">Préstamos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="catalogo">Cátalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gestionU">Usuarios</a>
        </li>
      </ul>
      <div>
        <button class="btn btn-success" (click)="cerrar()">Cerrar Sesion</button>
      </div>
      <br>
      <br>
     
    </div>
  </div>
</nav>
