<div class="container">
    <div class="jumbotron">
        <header>
            <h1>Bienvenidos a la Biblioteca "El Saber"</h1>
        </header>
        <main>
            <article>
                <h2>La Historia de "El Saber"</h2>
                <p>En lo profundo del tranquilo barrio de Villa Nueva, se encuentra una joya cultural y educativa: la Biblioteca "El Saber". Esta biblioteca, fundada en 1950 por el visionario Don Manuel Rodríguez, ha sido durante décadas un faro de conocimiento para la comunidad local.</p>
                <p>La historia de "El Saber" es una de tenacidad y pasión por el aprendizaje. Don Manuel, un maestro de escuela apasionado por los libros, soñaba con crear un lugar donde las personas pudieran acceder libremente al conocimiento, sin importar su origen o situación económica. Con ese sueño en mente, reunió donaciones de libros de la comunidad y transformó un pequeño local abandonado en una modesta pero vibrante biblioteca.</p>
                <!-- Puedes continuar agregando más contenido de la historia -->
            </article>
        </main>
    </div>
    <div class="latest-books">
        <h3>Últimos libros añadidos</h3>
        <ul>
            <li>El código Da Vinci</li>
            <li>Orgullo y prejuicio</li>
            <li>El Señor de los Anillos</li>
        </ul>
    </div>
    
</div>